h1{
    text-align: center;
}
.blog{
    background-color: black;
    border: 20px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
    
}
.blog2{
    background-color: deeppink;
    border-right: solid 20px;
    border-radius: 10px;
    padding: 20px 20px;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
   
}
.blog3{
    background-color: deepskyblue;
    border: 20px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
}
.blog4{
    background-color: deepskyblue;
    border: 20px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
}
.author-name{
    color: yellow;
}
.author-name2{
    color:green;
}
.blog-item{
    text-align: center;
    color: blue;
}
.blog p{
    color: white;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blog2 p{
    color: burlywood;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.blog3 p{
    color: burlywood;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}